body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgba(152,96,255,1) 0%, rgba(255,167,119,1) 100%);
}

button {
  cursor: pointer;
}